/* -------------------- Header ------------------------ */

header {
  display: flex;
  /* width: 100vw; */
  justify-content: space-between;
}

nav {
  display: flex;
  align-items: center;
}

nav > div > a {
  padding: 0px 10px;
}

a > svg {
  height: 1.3em;
  width: 1.3em;
}

.header-container__nav__socials {
  padding-right: 18px;
}

/* -------------------- Content ------------------------ */
.first-section-container {
  display: flex;
}

.first-section-content-container-left {
  display: flex;
  flex-basis: 50%;
  flex-direction: column;
}

.first-section-content-container-left > .first-section-content__title > span {
  font-size: 76px;
  text-transform: uppercase;
  font-weight: 700;
}

.first-section-content-container-left
  > .first-section-content__title
  > span:nth-of-type(2) {
  align-self: flex-end;
}

.first-section-content__title {
  display: flex;
  flex-direction: column;
  max-width: 850px;
}

.first-section-content-container-left > p {
  font-family: "Cutive Mono", monospace;
  font-size: 18px;
}

.first-section-content-container-right {
  flex-basis: 50%;
  padding-left: 45px;
}

.projects-section {
  background-color: var(--secondary);
  padding-top: 30px ;
}
.projects-section > h1 {
  text-align: center;
  color: var(--primary)
}

.contact-section {
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-section > h1 {
  color: var(--secondary);
}

.contact-form {
  display: flex;
  flex-direction: column;
  justify-items: center;
  max-width: 530px;
  width: 100%;
}

.contact-form > input {
  height: 30px;
  margin-bottom: 12px;
}

.contact-form > textarea {
  height: 130px;
  margin-bottom: 12px;
}

.contact-form > button {
  align-self: end;
}

input::placeholder, textarea::placeholder {
  font-family: "Cutive Mono", monospace;
  color: var(--placeholder);
  padding-left: 5px;
  font-size: 16px;
}

/* ------------------------ gauge -----------------------*/
.gauges-container {
  display: flex;
  flex-direction: column;
  margin-top: 25px;
}

.gauges-container > div {
  background-color: var(--secondary);
  width: 90%;
  height: 30px;
  margin: 0px 0 20px 0;
  border-radius: 7px 5px 5px 7px;
}

.bar-filled {
  background-color: var(--blue);
  width: 90%;
  height: 30px;
  border-radius: 6px 0px 0px 6px;
}

.tag {
  background-color: var(--dark-blue);
  width: 130px;
  line-height: 30px;
  border-radius: 5px 0px 0px 5px;
  text-align: center;
}

/*-------------------------- tile----------------------*/
.tiles-container {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: center;
}
.tile {
  height: 300px;
  width: 450px;
  background-repeat: no-repeat;
  background-size: cover;
}


