/* -------------------- Header ------------------------ */
.header-container {
  display: flex;
  justify-content: space-between;
}

.header-container__title {
  color: white;
  text-transform: uppercase;
}

.header-container__nav {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-basis: 40%;
}

/* -------------------- Content ------------------------ */

section > h1 {
  font-size: 6.45em;
  text-transform: uppercase;
}

.description-container {
  display: flex;
  min-height: 200px;
}

.description-container > div {
  padding: 10px;
  flex-basis: 50%;
  margin: 0;
  background-color: gray;
  background-image: repeating-linear-gradient(45deg, transparent, transparent 35px, rgba(255,255,255,.5) 35px, rgba(255,255,255,.5) 70px);
  border-radius: 0px 50px;
  /* background: linear-gradient(63deg, #999 23%, transparent 23%) 7px 0,
    linear-gradient(63deg, transparent 74%, #999 78%),
    linear-gradient(63deg, transparent 34%, #999 38%, #999 58%, transparent 62%),
    #444;
  background-size: 16px 48px; */
}

.description-container > q {
  padding-left: 25px;
  flex-basis: 50%;
}
