/* -------------------- Header ------------------------ */

header {
  display: flex;
  /* width: 100vw; */
  justify-content: space-between;
}

nav {
  display: flex;
  align-items: center;
}

nav > div > a {
  padding: 0px 10px;
}

a > svg {
  height: 1.3em;
  width: 1.3em;
}

.header-container__nav__socials {
  padding-right: 18px;
}

/* -------------------- Content ------------------------ */
.first-section-container {
  display: flex;
  padding-bottom: 60px;
}

.first-section-content-container-left {
  display: flex;
  flex-basis: 50%;
  flex-direction: column;
}

.first-section-content-container-left > .first-section-content__title > span {
  font-size: 76px;
  text-transform: uppercase;
  font-weight: 700;
}

.first-section-content-container-left
  > .first-section-content__title
  > span:nth-of-type(2) {
  align-self: flex-end;
}

.first-section-content__title {
  display: flex;
  flex-direction: column;
  max-width: 850px;
}

.first-section-content-container-left > p {
  font-family: "Cutive Mono", monospace;
  font-size: 18px;
}

.first-section-content-container-right {
  flex-basis: 50%;
  padding-left: 45px;
}

.projects-section {
  background-color: var(--secondary);
  padding: 30px 0px 60px 0px;
}
.projects-section > h1 {
  text-align: center;
  color: var(--primary)
}

.contact-section {
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-section > h1 {
  color: var(--secondary);
}

.contact-form {
  display: flex;
  flex-direction: column;
  justify-items: center;
  max-width: 530px;
  width: 100%;
}

.contact-form > input {
  height: 30px;
  margin-bottom: 12px;
}

.contact-form > textarea {
  height: 130px;
  margin-bottom: 12px;
}

.contact-form > button {
  align-self: end;
}

input::placeholder, textarea::placeholder {
  font-family: "Cutive Mono", monospace;
  color: var(--placeholder);
  padding-left: 5px;
  font-size: 16px;
}

/* ------------------------ Footer -----------------------*/
.copyrights {
  text-align: center;
  font-family: "Cutive Mono", monospace;
  font-size: 13px;
  /* font-size: ;  */
}

/* ------------------------ gauge -----------------------*/
.gauges-container {
  display: flex;
  flex-direction: column;
  margin-top: 25px;
}

.gauges-container > div {
  background-color: var(--secondary);
  width: 90%;
  height: 30px;
  margin: 0px 0 20px 0;
  border-radius: 7px 5px 5px 7px;
}

.bar-filled {
  background-color: var(--blue);
  width: 90%;
  height: 30px;
  border-radius: 6px 0px 0px 6px;
}

.tag {
  background-color: var(--dark-blue);
  width: 130px;
  line-height: 30px;
  border-radius: 5px 0px 0px 5px; /* to keep away trailing colors of parent's border-radius, child one should be wider than the parent */
  text-align: center;
}

.badges-container {
  display: flex;
  gap: 6px;
  flex-wrap: wrap;
  margin-top: 30px;

}

/*-------------------------- card ----------------------*/

.cards-container {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: center;
}
.card-content {
  width: 400px;
  height: 200px;
  position: relative;
  perspective: 1000px;
  transform-style: preserve-3d;
  transition: transform 0.6s;
  text-align: center;
}


.card-content:hover {
  transform: rotateY(180deg);
  color: var(--primary)
}

.frame {
  width: 100%;
  height: 100%;
  position: absolute;
  backface-visibility: hidden;
}

.card-content-front-screenshot {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Need only the last background image to be centered */
.card:last-child > .card-content > .card-content-front > .card-content-front-screenshot {
  background-position: center;
}
.card-content-back {
  text-align: left;
  transform: rotateY(180deg);
}